 .appRoot {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainContent {
  flex: 1;
  padding-top: 72px; /* space for sticky navbar */
}

@media (max-width: 768px) {
  .mainContent {
    padding-top: 64px;
  }
}
